@tailwind base;
@tailwind components;
@tailwind utilities;
input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
  }
  
  .bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 17px;
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  
  input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
  }
  
  input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
  }
  .card {
    width: fit-content;
    height: fit-content;
    /* background-color: rgb(238, 238, 238); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 20px;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .imgpro{
    background: #201f31;
    background: -moz-linear-gradient(0deg,#201f31 0,rgba(32,31,49,0) 50%,#201f31 100%);
    background: linear-gradient(0deg,#201f31 0,rgba(32,31,49,0) 50%,#201f31 100%);
    box-sizing: border-box;
  }
  .transition-out {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.transition-in {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}
  
.slide-in {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
.slide-in-reverse {
  animation: slideInReverse 0.5s forwards;
}

@keyframes slideInReverse {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
/* Container for images */
.bg-new-color {
  position: relative;
}

.image-row {
  display: flex;
  gap: 20px;
  position: relative;
}

.image-container {
  position: relative;
}

.image-container:hover .description {
  display: block;
}

.bg-pink-600 {
  display: none;
  position: absolute;
  top: -50px; /* Adjust this value to position it near the "Trending" text */
  right: -80px; /* Adjust this value to position it to the right side */
  background-color: gray; /* Adjust this color if needed */
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.share:hover{
  transform: translateY(-5px);
  transition: transform 1s ease-out;
}
.main__socials {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.Link__instagram {
  padding: 0.8em;
  outline: none;
  border-radius: 34px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  fill: #cc39a4;
}

.Link__twitter {
  padding: 0.8em;
  outline: none;
  border-radius: 34px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  fill: #03a9f4;
}



.Link__discord {
  padding: 0.8em;
  outline: none;
  
  background: white;
  border-radius: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  fill: #8c9eff;
}

.Link__instagram:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.Link__instagram:hover .instagram {
  fill: white;
}

.Link__twitter:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.Link__twitter:hover .twitter {
  fill: white;
}

.Link__github:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.Link__github:hover .github {
  fill: white;
}

.Link__discord:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.Link__discord:hover .discord {
  fill: white;
}
